{% extends "base.html" %}
{% block title %}Внутренняя ошибка сервера{% endblock %}
{% block content %}
  <body>
      <div class="d-flex align-items-center justify-content-center vh-100 py-5">
          <div class="text-center">
              <h1 class="display-1 fw-bold">500</h1>
              <p class="lead">
                <span style='color:Chocolate'>Внутренняя ошибка сервера</span>
              </p>
              <p class="fs-3"> <span class="text-danger">Упс!</span> Надо разбираться...</p>
              <p class="lead">
          </div>
      </div>
  </body>
{% endblock %}