{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <h1>Привет, я автор</h1>
      <p>
        Меня зовут Алексей и я начинающий Python разработчик.
        <br><br>
        В ИТ уже 10 лет, но профиль работы - системное администрирование. С недавних пор решил
        перепрофилироваться на BackEnd разработчика, т.к. понял, что теряю запал и нужно что-то новое.<br><br>
        Интерес к Python заключается в его многогранности применения, вплоть до программирования
        микроконтроллеров (MicroPython).<br>
        К тому же, как оказалось, с помощью фреймворков, можно делать отличные рабочие сайты на пайтоне.<br>
        В общем надеюсь достичь новых высот, <strong>чего и тебе желаю дорогой читатель</strong>!
      </p>
    </div>
  </div>
</div>
{% endblock %}